--
-- PostgreSQL database dump
--

\restrict ZT3ff40B7auf9eBMOE3ZgxNJjd1vvWAqctt9JG4MeDahogvDdGoua36sUnhpZv7

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: gold; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA gold;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_performance; Type: TABLE; Schema: gold; Owner: -
--

CREATE TABLE gold.academic_performance (
    enrollment_id text NOT NULL,
    student_id text,
    customer_id text,
    course_id text,
    course_code text,
    course_name text,
    department text,
    credits bigint,
    professor_id text,
    professor_name text,
    semester_id text,
    semester_code text,
    semester_year bigint,
    semester_half bigint,
    enrolled_at timestamp without time zone,
    enrollment_status text,
    assessment_count bigint,
    weight_sum double precision,
    normalized_grade double precision,
    has_grades boolean,
    has_invalid_weight_sum boolean
);


--
-- Name: crm_lead; Type: TABLE; Schema: gold; Owner: -
--

CREATE TABLE gold.crm_lead (
    lead_id text NOT NULL,
    first_name text,
    last_name text,
    lead_name text,
    email text,
    lead_source text,
    lead_status text,
    lead_score bigint,
    created_at timestamp without time zone,
    is_new boolean,
    is_contacted boolean,
    is_qualified boolean,
    is_converted boolean,
    is_lost boolean,
    is_open boolean,
    is_closed boolean
);


--
-- Name: crm_opportunity; Type: TABLE; Schema: gold; Owner: -
--

CREATE TABLE gold.crm_opportunity (
    opportunity_id text NOT NULL,
    opportunity_name text,
    account_id text,
    account_name text,
    industry text,
    account_country text,
    account_annual_revenue double precision,
    account_employees bigint,
    stage text,
    amount double precision,
    created_at timestamp without time zone,
    close_date timestamp without time zone,
    activity_count bigint,
    call_activity_count bigint,
    demo_activity_count bigint,
    email_activity_count bigint,
    meeting_activity_count bigint,
    note_activity_count bigint,
    first_activity_at timestamp without time zone,
    last_activity_at timestamp without time zone,
    has_activities boolean,
    contact_count bigint,
    has_contacts boolean,
    is_open boolean,
    is_closed boolean,
    is_won boolean,
    is_lost boolean,
    invalid_close_date_flag boolean
);


--
-- Name: invoice_financial; Type: TABLE; Schema: gold; Owner: -
--

CREATE TABLE gold.invoice_financial (
    invoice_id text NOT NULL,
    customer_id text,
    student_id text,
    customer_segment text,
    customer_country text,
    issued_at timestamp without time zone,
    due_at timestamp without time zone,
    invoice_status text,
    currency text,
    invoice_total double precision,
    invoice_item_count bigint,
    invoice_item_total double precision,
    invoice_item_difference double precision,
    payment_count bigint,
    paid_amount double precision,
    first_payment_at timestamp without time zone,
    last_payment_at timestamp without time zone,
    balance_amount double precision,
    outstanding_amount double precision,
    overpayment_amount double precision,
    has_invoice_items boolean,
    has_payments boolean,
    is_student_customer boolean,
    invoice_items_match_header boolean,
    is_balanced boolean,
    is_outstanding boolean,
    is_overpaid boolean,
    payment_status_matches_balance boolean
);


--
-- Name: product_sales; Type: TABLE; Schema: gold; Owner: -
--

CREATE TABLE gold.product_sales (
    invoice_item_id text NOT NULL,
    invoice_id text,
    customer_id text,
    student_id text,
    is_student_customer boolean,
    customer_segment text,
    customer_country text,
    product_id text,
    sku text,
    product_name text,
    product_category text,
    product_monthly_price double precision,
    product_active boolean,
    issued_at timestamp without time zone,
    invoice_status text,
    currency text,
    quantity bigint,
    unit_price double precision,
    line_total double precision
);


--
-- Name: student_360; Type: TABLE; Schema: gold; Owner: -
--

CREATE TABLE gold.student_360 (
    student_id text NOT NULL,
    customer_id text,
    student_first_name text,
    student_last_name text,
    student_email text,
    birth_date timestamp without time zone,
    student_enrolled_at timestamp without time zone,
    student_country text,
    customer_first_name text,
    customer_last_name text,
    customer_email text,
    customer_country text,
    customer_created_at timestamp without time zone,
    customer_segment text,
    courses_enrolled bigint,
    courses_completed bigint,
    courses_active bigint,
    courses_failed bigint,
    courses_dropped bigint,
    total_credits_enrolled bigint,
    total_credits_completed bigint,
    assessment_count bigint,
    enrollments_with_grades bigint,
    enrollments_with_invalid_weight_sum bigint,
    average_normalized_grade double precision,
    has_academic_activity boolean,
    invoice_count bigint,
    paid_invoice_count bigint,
    pending_invoice_count bigint,
    overdue_invoice_count bigint,
    outstanding_invoice_count bigint,
    overpaid_invoice_count bigint,
    invoices_without_items bigint,
    invoices_without_payments bigint,
    invoice_item_mismatch_count bigint,
    payment_status_mismatch_count bigint,
    invoice_currency_count bigint,
    has_billing_activity boolean,
    has_outstanding_invoices boolean,
    has_overdue_invoices boolean,
    subscription_count bigint,
    active_subscription_count bigint,
    paused_subscription_count bigint,
    cancelled_subscription_count bigint,
    invalid_end_date_count bigint,
    subscription_product_category_count bigint,
    average_subscription_duration_days double precision,
    has_subscription_history boolean,
    has_active_subscription boolean
);


--
-- Name: subscription_portfolio; Type: TABLE; Schema: gold; Owner: -
--

CREATE TABLE gold.subscription_portfolio (
    subscription_id text NOT NULL,
    customer_id text,
    student_id text,
    is_student_customer boolean,
    customer_segment text,
    customer_country text,
    customer_created_at timestamp without time zone,
    product_id text,
    sku text,
    product_name text,
    product_category text,
    product_monthly_price double precision,
    product_active boolean,
    subscription_status text,
    start_date timestamp without time zone,
    end_date timestamp without time zone,
    duration_days bigint,
    is_active boolean,
    invalid_end_date_flag boolean
);


--
-- Name: academic_performance academic_performance_pkey; Type: CONSTRAINT; Schema: gold; Owner: -
--

ALTER TABLE ONLY gold.academic_performance
    ADD CONSTRAINT academic_performance_pkey PRIMARY KEY (enrollment_id);


--
-- Name: crm_lead crm_lead_pkey; Type: CONSTRAINT; Schema: gold; Owner: -
--

ALTER TABLE ONLY gold.crm_lead
    ADD CONSTRAINT crm_lead_pkey PRIMARY KEY (lead_id);


--
-- Name: crm_opportunity crm_opportunity_pkey; Type: CONSTRAINT; Schema: gold; Owner: -
--

ALTER TABLE ONLY gold.crm_opportunity
    ADD CONSTRAINT crm_opportunity_pkey PRIMARY KEY (opportunity_id);


--
-- Name: invoice_financial invoice_financial_pkey; Type: CONSTRAINT; Schema: gold; Owner: -
--

ALTER TABLE ONLY gold.invoice_financial
    ADD CONSTRAINT invoice_financial_pkey PRIMARY KEY (invoice_id);


--
-- Name: product_sales product_sales_pkey; Type: CONSTRAINT; Schema: gold; Owner: -
--

ALTER TABLE ONLY gold.product_sales
    ADD CONSTRAINT product_sales_pkey PRIMARY KEY (invoice_item_id);


--
-- Name: student_360 student_360_pkey; Type: CONSTRAINT; Schema: gold; Owner: -
--

ALTER TABLE ONLY gold.student_360
    ADD CONSTRAINT student_360_pkey PRIMARY KEY (student_id);


--
-- Name: subscription_portfolio subscription_portfolio_pkey; Type: CONSTRAINT; Schema: gold; Owner: -
--

ALTER TABLE ONLY gold.subscription_portfolio
    ADD CONSTRAINT subscription_portfolio_pkey PRIMARY KEY (subscription_id);


--
-- PostgreSQL database dump complete
--

\unrestrict ZT3ff40B7auf9eBMOE3ZgxNJjd1vvWAqctt9JG4MeDahogvDdGoua36sUnhpZv7

